h1#title-maltraite-h1{
    border: solid 2px #4a4a4a;
    background-color:#ffdd57 ;
    color:#4a4a4a;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Forum', cursive;
}

h2#title-maltraite-h2{
    border: solid 2px #4a4a4a;
    text-align: center;
    border-radius: 10px;
    background-color:#ffdd57;
    color:#4a4a4a;
    padding-bottom: 5px;
    font-family: 'Forum', cursive;
}
