div.column p {
    font-family: 'Cabin Sketch', cursive;
}

h1.title{
    border: solid 2px #4a4a4a;
    background-color:#ffdd57 ;
    color:#4a4a4a;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 1px;
    font-family: 'Forum', cursive;
}

h2.title{
    border: solid 2px #4a4a4a;
    text-align: center;
    border-radius: 10px;
    background-color:#ffdd57;
    color:#4a4a4a;
    padding-bottom: 5px;
    font-family: 'Forum', cursive;
}

footer.container {
    background-color: #ffdd57;
    margin-bottom: 0px;
}

footer p {
    text-align: center;
    font-family: 'Forum', cursive;
}

div.map-responsive {
    display: flex;
    justify-content: center;
    background-color: white;
}
